	
	<!-- Formulaire de recherche -->
	<form action="serp" method="get" th:fragment="search_form">

		<div class="input-group mb-3 ">

			<div class="input-group-prepend" id="choixCible">
				<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Epicam</button>
				<div class="dropdown-menu">
				  <a class="dropdown-item" href="#" onclick="return switcher('epicam');">Epicam</a>
				  <div role="separator" class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#" onclick="return switcher('dbpedia');">DBPedia</a>
				</div>
			</div>

			<input type="text" name="q" id="search" class="form-control" placeholder="Trouver une maladie, un médicament ou un patient" aria-label="zone de recherche" aria-describedby="basic-addon2">

			<input type="hidden" name="cible" value="epicam">

			<div class="input-group-append">
				<button class="btn btn-outline-primary" type="button" id="btn-search">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</div>

		</div>

	</form>