
		<!-- Fragment de la zone modale -->
		<div th:fragment="zone_modale" id="zone-modale">

			<!-- Modale de connexion -->
			<div class="modal fade connexion-modale" id="connexion-modale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

				<form action="#" th:action="@{/login}" th:object="${seedConnect}" method="POST" id="form_connexion">

				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<h5 class="modal-title center-block" id="exampleModalLabel">
							<i class="fa fa-user-circle-o" aria-hidden="true"></i>
							Connectez-vous !
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
					  
					  <div class="modal-body" id="connexion-body">
						
							<div class="form-group">
							  <div class="input-group">
								<div class="input-group-prepend">
								  <div class="input-group-text">
									<i class="fa fa-at"></i>
								  </div>
								</div> 
								<input id="email" name="email" placeholder="Email ou login" type="text" class="form-control" required="required">
							  </div>
							</div>
						  
						  <div class="form-group">
							  <div class="input-group">
								<div class="input-group-prepend">
								  <div class="input-group-text">
									<i class="fa fa-key"></i>
								  </div>
								</div> 
								<input id="password" name="password" placeholder="Mot de passe" type="password" class="form-control" required="required">
							  </div>
							</div>
					  </div>

					  <div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Quitter</button>
						<button type="submit" class="btn btn-primary">Se connecter</button>
					  </div>

					</div>

				  </div>

				</form>

			</div>

		</div>