
<!Doctype html>
<html th:replace="~{fragments/template :: layout(~{::title}, ~{}, ~{::main}, ~{})}">

	<!-- Insertion du head -->
	<head>

		<title>Aide - Episearch</title>

	</head>

	<body>

		<!-- Le conteneur principale -->
		<main role="main">

			<h1 class="text-center beautiful">Page d'aide</h1>

			<div class="album py-5 bg-light">

				<div class="container">

					<div class="row">

						<div class="col-md-3">
							<span class="text-muted">Menu</span>
							<ul class="list">
								<li>Accueil</li>
								<li>Pourquoi Episearch ?</li>
								<li>Comment trouver ce que je cherche ?</li>
							</ul>
						</div>

						<div class="col-md-9">
							<div class="item">
								<h3>Accueil</h3>
								<p>
								Bienvenue dans Episearch, un moteur de recherche sémantique
								qui vous aidera à retrouver les informations sur toute maladie ou
								médicament à travers le Web
								</p>
							</div>
						</div>

					</div>

				</div>

			</div>

		</main>

	</body>

</html>

