
<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

	<!-- Insertion du head -->
	<head th:replace="fragments/header :: header(~{::title},~{})">

		<title>Contact - Episearch</title>

	</head>

	<body>

		<!-- La barre de menu haute -->
		<header th:replace="fragments/menu_top :: menu_top">

		</header>

		<!-- Le conteneur principale -->
		<main role="main">
			
			<h1 class="text-center">Page de contact</h1>
			
			<div class="album py-5 bg-light">

				<div class="container">

					<div class="row">

						<div class="col-md-2"></div>

						<div class="col-md-8">
							
						</div>
						<div class="col-md-2"></div>

					</div>

				</div>

			</div>

		</main>

		<!-- Le footer -->
		<footer th:replace="fragments/footer :: footer">

		</footer>

		<!-- Insertion des fenêtres modales  -->
		<div th:replace="fragments/zone_modale :: zone_modale">

		</div>

		<!-- Insertion des scripts -->
		<div th:replace="fragments/scripts :: scripts(~{})">
		
		</div>
		
	</body>

</html>
