
<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

	<!-- Insertion du head -->
	<head th:replace="fragments/header :: header(~{::title},~{::link})">

		<title>Moteur de recherche sémantique sur Epicam & DBPedia</title>

		<link href="css/accueil.css" rel="stylesheet">

	</head>

	<body>

		<!-- La barre de menu haute -->
		<header th:replace="fragments/menu_top :: menu_top">

		</header>

		<!-- Le conteneur principale -->
		<main role="main">

			<div id="title-search">
				<h1 class="text-center">EpiSearch</h1>
			</div>

			<div class="album py-5 bg-light">

				<div class="container">

					<div class="row">

						<div class="col-md-2"></div>

						<div class="col-md-8" id="zone-recherche">

							<!-- Formulaire de recherche -->
							<form th:replace="fragments/search_form :: search_form">

							</form>

						</div>

						<div class="col-md-2"></div>

					</div>

				</div>

			</div>

		</main>

		<!-- Le footer -->
		<footer th:replace="fragments/footer :: footer">
			
		</footer>


		<!-- Insertion des fenêtres modales  -->
		<div th:replace="fragments/zone_modale :: zone_modale">

		</div>

		<!-- Insertion des scripts -->
		<div th:replace="fragments/scripts :: scripts(~{::script})">
		
			<script src="js/accueil.js"></script>

		</div>
		
	</body>
</html>
