
<!Doctype html>
<html th:replace="~{fragments/template :: layout(~{::title}, ~{::link}, ~{::main}, ~{::script})}">

	<!-- Insertion du head -->
	<head>

		<title>Accueil - Moteur de recherche sémantique sur Epicam & DBPedia</title>

		<link href="css/accueil.css" rel="stylesheet">

	</head>

	<body>

		<!-- Le conteneur principale -->
		<main role="main">

			<div id="title-search">
				<h1 class="text-center beautiful">EpiSearch</h1>
			</div>

			<div class="album py-5 bg-light">

				<div class="container">

					<div class="row">

						<div class="col-md-2"></div>

						<div class="col-md-8" id="zone-recherche">

							<!-- Formulaire de recherche -->
							<form th:replace="fragments/search_form :: search_form">

							</form>

						</div>

						<div class="col-md-2"></div>

					</div>

				</div>

			</div>

		</main>

		<script src="js/accueil.js"></script>

	</body>

</html>
