
<!Doctype html>
<html th:replace="~{fragments/template :: layout(~{::title}, ~{}, ~{::main}, ~{::script})}">

	<!-- Insertion du head -->
	<head>

		<title>Résultats - Episearch</title>

	</head>

	<body>

		<!-- Le conteneur principale -->
		<main role="main">

			<div id="zone-recherche" class="container">

				<div class="row ">

					<div class="col-md-9">

						<!-- Formulaire de recherche -->
						<form th:replace="fragments/search_form :: search_form">

						</form>

					</div>

					<div class="col-md-3" id="search_time"></div>

				</div>

			</div>

			<div class="album py-5 bg-light">

				<div class="container">

				  <div class="row">

					<!-- Zone d'affichage des résultats -->
					<div class="col-md-8" id="result"></div>

					<!-- Zone d'affichage de l'extrait -->
					<div class="col-md-4" id="pancard-droite"></div>

				  </div>

				</div>

			</div>

			<!-- Modal:  A ne pas effacer -->
			<div id="modalZone"></div>

		</main>

		<script src="js/dbpedia.js"></script>

	</body>

</html>
